
{% extends 'paaniwale/sample.html' %}'

{% block main_content %}

<h>Hello</h>
<h1>Dear Customer Kindly fill the details</h1>

<form action="" method="post" target="_self">
    {% csrf_token %}
    First Name:<br>
    <input type="text" name="FirstName"><br>
    Middle Name:<br>
    <input type="text" name="MiddleName"><br>
    Last Name:<br>
    <input type="text" name="LastName"><br>
    Age:<br>
    <input type="number" name="Age"><br><br>

    Gender:<br>

    <input type="text" name="Gender">

    <input type="submit" value="Post">

</form>


{% endblock %}

