<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<style>
body{
    background-color:yellow

    }

</style>
<body style="background color: blue"><br>
<h>Hello</h>
<h1>Dear Customer Kindly fill the details</h1>

<form>
    First Name:<br>
    <input type="text" name="First Name"><br>
    Middle Name:<br>
    <input type="text" name="Middle Name"><br>
    Last Name:<br>
    <input type="text" name="Last Name"><br>
    Age:<br>
    <input type="number" name="Age in years"><br><br>

    Gender:<br>

    <input type="radio" name="Gender" value="Male">Male<br>
    <input type="radio" name="Gender" value="Female">Female<br>
    <input type="radio" name="Gender" value="Other">Other<br><br>


    <input type="submit" value="Submit">

</form>

</body>
</html>

